.container{
    background-color: rgba(233, 227, 227, 0.8);
}
.main-footer{
    display: flex;
    
}
.main-footer > div{
    width: 22%;
    margin-left: 100px;
}
p{
    font-size: 14px;
    font-weight: 400;
}
.social{
    display: flex;
    border-top: 1px solid rgb(187, 183, 183);
    margin: auto;
    width: 86%;
    height: 50px;
}
.socials{
    margin-left: 35%;
    display: flex;
}
.socials > p > img{
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
.socials > p{
    margin-left: 20px;
}
.socials > img{
    margin-top: 12px;
    margin-left: 30px;
    width: 25px;
    height: 25px;
}